<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <h2>¡Únete al reto!</h2>
    <p>Página de registro en construcción...</p>
    
    <ion-button expand="block" (click)="goBack()">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>